header {
    max-width: 100%;
    height: 100px;
    border-bottom: 5px double black;
    background: rgb(39,47,47);
    background: radial-gradient(circle, rgba(39,47,47,1) 0%, rgba(17,19,22,1) 100%); 
    color: white;
}


#span-h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 15px;
}

.logo-marcas {
    float: right;
    width: 105px;
    height: 95px;
    border-left: 1px solid black;
    max-width: 100%;
}